---
import { BtnTheme } from "./BtnTheme";

---
<nav class="w-full py-4 border-b border-indigo-300 dark:border-slate-800 drop-shadow-md lg:fixed top-0 left-0 z-50 backdrop-blur-md shadow-md  dark:border-b-gray-800 bg-slate-50 dark:bg-indigo-950 lg:bg-gray-100/50 dark:lg:bg-gray-900/50">
    <div class="container mx-auto flex justify-center items-center gap-4 font-medium flex-col lg:flex-row text-sm">
        <BtnTheme client:load />
        <a href="#home" class="hover:text-blue-700 dark:hover:text-blue-400">Inicio</a>
        <a href="#experience" class="hover:text-blue-700 dark:hover:text-blue-400">Experiencia</a>
        <a href="#skill" class="hover:text-blue-700 dark:hover:text-blue-400">Habilidades</a>
    </div>
</nav>
