---
import Home from '../components/Home.astro';
import Experience from '../components/Experience.astro';
import Layout from '../layouts/Layout.astro';
import Skills from '../components/Skills.astro';
---

<Layout>
	<div>
		<Home />
		<Experience />
		<Skills />
	</div>
</Layout>
