---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="lg:mt-24">
		<section class="min-h-screen container mx-auto flex flex-col lg:flex-row items-center max-w-2xl">
			<div class="flex flex-col">
				<div>
					<p class="text-4xl font-black">Hola, soy Mario Zamora</p>
				</div>
				<div>
					<p>
						Desarrollador FullStack Ingeniero en desarrollo y gestión de Software
					</p>
				</div>
			</div>
		</section>
	</div>
</Layout>
