---
const { title, technologies } = Astro.props;
---
<div class="bg-gray-50/20 hover:bg-gray-50/40 dark:bg-gray-950/20 dark:hover:bg-gray-950/40 rounded-xl px-6 py-3 shadow transition delay-100 hover:scale-105 ease-in-out">
    <div class="flex flex-row gap-3 items-center mb-3">
        <div class="icon">
            <slot name="icon" />
          </div>
        <h3 class="font-bold text-lg">{ title }</h3>
    </div>
    <div class="space-y-1">
        {
            technologies.map((item: string) => (
              <p class="text-sm">{item}</p>
            ))
        }
    </div>
</div>