---
import Navbar from "../components/Layout/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Portafolio Mario Zamora</title>
    <script>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
    <style>
		@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
	  * {
		font-family: 'Montserrat';
	  }
    </style>
  </head>
  <body
    class="bg-gradient-to-br dark:bg-gradient-to-br from-slate-300 via-indigo-300 to-purple-200 dark:from-neutral-950 dark:via-indigo-950 dark:to-slate-950 bg-cover dark:text-white"
  >
    <Navbar />
    <slot />
  </body>
  <footer
    class="bg-neutral-950 py-16 w-full flex flex-col md:flex-row lg:flex-row justify-start gap-3 items-center border-t border-t-neutral-800"
  >
    <div class="container mx-auto">
      <div class="flex flex-col items-center my-5 text-center">
        <div class="text-white text-sm">
          <p class="font-medium text-xl">
            <span
              class="transition-all duration-200 bg-gradient-to-r from-indigo-300 to-purple-300 bg-clip-text hover:text-transparent font-bold"
              >Mario Zamora
            </span>
          </p>
          <p class="text-xs">©{new Date().getFullYear()} Todos los derechos reservados</p>
        </div>
      </div>
    </div>
  </footer>
</html>
